<section class="about" id="about">
    <!-- <img class="img__device" src="/assets/images/homepage/photo1.png" alt=""> -->
    <div class="about__images">
        <div class="img__row">
            <img class="img__vrtcl" src="/assets/images/homepage/about1.png" alt="">         
            <img class="img__vrtcl" src="/assets/images/homepage/about2.png" alt="">
            </div>
        <div class="img__row"> 
            <img class="img__hrzntl" src="/assets/images/homepage/about3.png" alt="">
            <img class="img__vrtcl" src="/assets/images/homepage/about4.png" alt="">
        </div>
    </div> <!-- about__images -->
     
    <div class="about__box">
            
        <a class="about__link" href="#">Про Дубок</a>
        <div class="title about__title">Вітаємо <br>в готельно-ресторанному<br> комплексі <br>"Дубок"
        </div>
        <div class="about__description">
            <p>За 7 км. від автошляху Луцьк-Рівне, у мальовничому містечку Цумань, розташувався п'ятиповерховий готельно-ресторанний комплекс "Дубок".</p>
            <p>Готель "Дубок" пропонує затишні номери на Ваш вибір: від економу до класу-люкс.</p>
            <p>Затишний невеликий готель подарує своїм гостям турботу і тепло. У нас Ви знайдете все необхідне для вашого комфортного перебування. </p>
        </div>
                <a class="btn btn--primary" href="#">Детальніше </a>
    </div> <!-- about__box -->
    
</section>  <!--end-about -->   
     