<!-- footer -->

    <div class="container">
        <div class="footer__inner">
            <div class="logo footer__logo">
                <img class="logo" src="assets/images/logo.svg" alt="logo">
            </div>
            <div class="footer__block">
                <span class="footer__title">Адреса</span>

                <div class="footer__item">Волинська обл</div>
                <div class="footer__item">смт. Цумань</div>
                <div class="footer__item">вул. Шевченка, 5</div>

            </div>
            <div class="footer__block">
                <span class="footer__title">Бронювання</span>

                <div class="footer__item">+38 097 953 48 22</div>
                <div class="footer__item">temp@gmail.com</div>

            </div>

            <div class="footer__block">
                <span class="footer__title">Навігація</span>
                <nav class="footer__nav">
                    <a class="footer__item" href="hotel.html">Готель</a>
                    <a class="footer__item" href="restrount.html">Ресторан</a>
                    <a class="footer__item" href="market.html">Маркет</a>
                    <a class="footer__item" href="actions.html">Пропозиції</a>
                    <a class="footer__item" href="contacts.html">Контакти</a>
                </nav>
            </div>

        </div> <!-- /.footer__inner  -->

    </div> <!-- /.container -->
   

    <div class="copyright">
        <div class="copyright__text">
            <div>Copyright © 2021 Dubok</div>
            <div>Designed <span>by Oxy</span></div>
        </div>
    </div>


