
    <meta charset="UTF-8">
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    
    <meta name="description" content="Готельно-ресторанний комплекс Дубок розташувався за 7 км. від автошляху Луцьк-Рівне, у мальовничому містечку Цумань. У нас ви знайдеет все необхідне для комфортного відпочинку ">
    <meta name="keywords" content="Цумань, готель, готельно-ресторанний комплекс, банкети, відпочинок, Цуманська пуща, Путилівка">
    <!-- <title>{{ title }}</title> -->
    
    <title>Готельно-ресторанний комплекс Дубок - затишний заклад у м.Цумаень</title>
    <!-- Normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/c5bac4228d.js" crossorigin="anonymous"></script>
    
    <!-- GoogleFont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Raleway:wght@400;600;700;900=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    
    <link rel="stylesheet" href="assets/css/style.min.css">
    
    <!-- FavIcon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/images/favicons/safari-pinned-tab.svg" color="#dd5827">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
   


