<header class="header"  id="header">
    <nav class="nav" id="nav">
        <div class="social__nav" >
           <div class="container">
                <div class="social__inner"> 
                    <div class="social__items">
                        <a class="social__link" href=" # "><i class="far fa-envelope"></i></a>
                        <a class="social__link" href=" # "><i class="fab fa-facebook-f "></i></a>
                        <a class="social__link" href=" # "><i class="fab fa-instagram "></i></a>
                    </div>
                
                    <div class="contacts__items">
                        <a href="http://goo.gl/maps/T6Lj5zWwCBKA6DnY6">Цумань, вул. Шевченка, 4а</a>
                        <a href="tel:0979534822">+38 097 953 48 22</a>
                    </div>
                </div> <!-- end-social__inner  -->
            </div> <!--/.container --> 
        </div>  <!-- end-social__nav -->
      
        <div class="container">
            <div class="main__nav">
             
                <a class="nav__logo" href="index.html"><img class="logo" src="/assets/images/logo.svg" alt="logo"></a> 
               
                
                <div class="nav__items">
                       <a class="nav__items-link" href="hotel.html">Готель</a>
                       <a class="nav__items-link" href="restrount.html">Ресторан</a>
                       <a class="nav__items-link" href="market.html">Маркет</a>
                       <a class="nav__items-link" href="actions.html">Пропозиції</a>
                       <a class="nav__items-link" href="contacts.html">Контакти</a>
                       <a class="nav__items-link" href="aboutdubok.html">Про Дубок</a>
                  
                </div>
                
                
                
            </div> <!-- end-main__nav -->
            
            
        </div> <!--end-container-->
        
    </nav> <!-- end-Navigation --> 
    
    <a class="logo--mobile" href="index.html"><img src="/assets/images/logo.svg" alt="logo"></a>
    <button class="burger" type="button" id="navToggle">
        <span class="burger__item">Menu</span>
    </button>
    </header>

<!--  -->