<header class="header">

        <div class="social__nav">
           <div class="container">
                <div class="social__inner"> 
                    <nav class="social__items">
                        <a class="social__link" href=" # "><i class="far fa-envelope"></i></a>
                        <a class="social__link" href=" # "><i class="fab fa-facebook-f "></i></a>
                        <a class="social__link" href=" # "><i class="fab fa-instagram "></i></a>
                    </nav>
                
                    <nav class="contacts__items">
                        <a href="http://goo.gl/maps/T6Lj5zWwCBKA6DnY6">Цумань, вул. Шевченка, 4а</a>
                        <a href="tel:097 953 4822">+38 097 953 48 22</a>
                    </nav>
                </div> <!-- end-social__inner  -->
            </div> <!--/.container --> 
        </div>  <!-- end-social__nav -->
      
        <div class="container">
            <div class="main__nav">
                <div class="nav__logo">
                    <img class="logo" src="/assets/images/homepage/logo.svg" alt="logo">
                </div>
                
                <nav class="nav__items">
                       <a href="#">Номери</a>
                       <a href="#">Ресторан</a>
                       <a href="#">Маркет</a>
                       <a href="#">Сервіси</a>
                       <a href="#">Контакти</a>
                       <a href="#">Бронювання</a>
                  
                </nav>
                
            </div> <!-- end-main__nav -->
        </div> <!--end-container-->
    </header>

<!--  -->