
/* Hotel-text */

.hotel-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
        
}


.hotel-list-item{
    display: flex;
    padding-top: 20px;
    width: 45%;
       
    &:before{
    
    content: '';
    margin-right: 20px;
    max-width: 4px;
    width: 100%;
    display: inline-flex;
    background: rgba($main, .6);
    }
    
}


/*hotel__rooms*/

.hotel__rooms{
    margin-top: 40px;

}
.hotel__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      
 }
 
 .hotel__item{
    text-decoration: none;
    margin: 0 15px;
    transition: text-decoration 0.3s linear;
    position: relative;
    cursor: pointer;
    &:after{
        content: '';
        position: absolute;
        right: -15px;
        bottom: -1px;
        left: 0px;
        height: 30px;
        background: rgba($main, .3);
        transform: scaleX(0);
        transition: transform 0.4s ease;
        -webkit-transition: transform 0.4s ease;
        -moz-transition: transform 0.4s ease;
        -ms-transition: transform 0.4s ease;
        -o-transition: transform 0.4s ease;
}

    &:hover {

        &::after {
            transform: scaleX(1);
        }
    }


    &.active {

    a {
        
        &:after {
            transform: scaleX(1);
        }
    }
}
}

.hotel__item-link{
    color: $primary;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    
    &::before{
        content: '';
        margin-right: 6px;
        width: 22px;
        height: 2px;
        display: inline-flex;
        vertical-align: middle;
        background: rgba($main, 0.6);
        
    }
    
    
}

/* hotel__cards */

.hotel__cards{
    display: flex;
    flex-direction: column;

}

.hotel__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    overflow: hidden;
    box-shadow: 0 1px 7px 0px rgba($primary, 0.1);
    border-radius: 5px;
    margin: 30px 0;
    transition: transform .2s;
    &:hover{
      transform: translateY(-.5%);
      box-shadow: 0px 0 2rem rgba($primary, .1);
    }
}

.hotel__slide{
    width: 100%;
    max-width: 60%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    
}
    
    
.hotel__slide-photo{
   display: block;
   width: 100%;
   height: 100%;
   top: 0;
   left:0;
   object-fit: cover;

}

.hotel__slide-text{
    padding: 50px;
    width: 45%;

}


   


