// hero-contacts================================================
  
.hero--contacts{
    background: $main url('/assets/images/contacts/contacts.jpg') no-repeat center;
    background-size: cover;    
}

.contact-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $primary;
    
}
.contact-details-heading{
    margin-top: 0;
}

.contact-details-item{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.contact-details-text{
    font-size: 18px;
    color: $primary;
}
    
.email, .phone{
    cursor: pointer;
    opacity: 1;
    
    &:hover {
        opacity: .6;
        text-decoration: underline;
    
    }
    
}

.contact-location{
    margin-top: 50px;
}