// hero-box================================================
  
.hero__box{
    background: $main url('/assets/images/homepage/herophoto.png') no-repeat center;
    background-size: cover;
    height: 750px;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: $white;
}

.hero__items{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.hero__title{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 15px 0 15px;
}

.hero__subtitle{
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500; 
}
   
.hero__text{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 80px;
}