.hero--hotel{
    background: $main url('/assets/images/hotel/hotelhero.jpg') no-repeat center;
    background-size: cover;    
}
/* Hotel-list */

.hotel-list{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    text-align: left;
        
}


.hotel-list-item{
    padding: 0 20px 15px;
    width: 100%;
    max-width: 50%;
    
}
