// map--wrapper---------------------
.map__cover{
    background: $main url('/assets/images/homepage/contacts.png') no-repeat center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

.map__items{
    display: flex;
    justify-content: space-between;
}


.map__location{
    border-radius:2px;
    width:45%;
}