// restrount__menu

.menu__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
}

.menu__images{
    display: flex;
    width: 100%;
    max-width: 60%;
   
    
    overflow: hidden;
    top: 50%;
    left: 50%;
}

.menu__photo{
    width: 100%;
    max-width: 49%;
    height: 500px;
    overflow: hidden;
    transition: .3s, linear;
    -webkit-transition: .4s, linear;
    -moz-transition: .3s, linear;
    -ms-transition: .3s, linear;
    -o-transition: .3s, linear;
}
.menu__photo>img{
    display: block;
    width: auto;
    height: 100%;
    
}
    
.menu__photo>img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.menu__photo:first-child{
   margin: 40px 15px 0 0;
}
.menu__content{
    width: 100%;
    max-width: 40%;
    align-items: left;
    margin-right: 60px;
}