/* rest__box
===================*/

.rest__box {
    overflow: hidden;
    background-color: $main;
}

.rest__item {
    display: flex;
    // flex-direction: row-reverse;
}

.rest__photo {
width: 100%;
    max-width: 50%;
    height: 500px;
    position: relative;
   
}

.rest__img {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.rest__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: 150px;
    
}

.rest__text {
    color: $white;
}

.rest__title {
    color: $white;
}



