<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body>

        <!-- Header -->
        {{> header }}

        <!-- Main -->
        
        
        
        <main class="main">
           
                {{> body }}
           
                
        </main>
        
        <footer class="footer">
            {{> footer }}
        </footer>
   
    <!-- JS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                <script>
                  AOS.init();
                </script>  
                
    <script src="assets/js/slick.min.js"></script>
    
    <script src="assets/js/app.js"></script>
    <script src="assets/js/slider.js"></script>
    <script src="assets/js/script.js"></script>
    
    <script src="owlcarousel/owl.carousel.min.js"></script>
</body>
</html>
