<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body>

        <!-- Header -->
        {{> header }}

        <!-- Main -->
        
        <!-- Hero -->
        {{> hero }}
        
        <main class="main">
            <div class="container">
                {{> body }}
            </div>
            {{> about }}
        </main>
        
        <footer class="footer">
            {{> footer }}
        </footer>
   
    <!-- JS -->
    <script src="assets/js/app.js"></script>
</body>
</html>
